.accordionItem {
    background-color: $tangerine-100;
    border-radius: $radius-lg $radius-lg 0 0;
    padding: $space-8 $space-8 $space-12;
    margin-top: -$space-4;

    &.active {
        background-color: $tangerine-200;
    }

    &__titleContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__title {
            width: 100%;
            @include laptop-l {
                font-size: $text-2xl;
            }
            @include desktop-l {
                font-size: $text-3xl;
            }
        }

        .active {
            rotate: 180deg;
        }

        &__svgContainer {
            padding: $space-2;
            cursor: pointer;

            &:hover, &:focus-visible {
                .accordionItem__titleContainer__svgContainer__svg {
                    fill: $tangerine-600;
                    transform: rotateY(180deg);
                }
            }

            &__svg {
                rotate: -90deg;
                width: 20px;
                height: 20px;
                transition: fill ease-in 0.3s, transform ease-in 0.3s;

                &:hover, &:focus-visible {
                    fill: $tangerine-600;
                    transform: rotateY(180deg);
                }
            }
        }
    }

    &__contentContainer {
        &__title {
            @include laptop-l {
                font-size: $text-lg;
            }
            @include desktop-l {
                font-size: $text-xl;
            }
        }

        &__liste {
            &__item {
                list-style: disc;
                list-style-position: inside;
                @include laptop-l {
                    font-size: $text-lg;
                }
                @include desktop-l {
                    font-size: $text-xl;
                }
            }
        }

        &__content {
            @include laptop-l {
                font-size: $text-lg;
            }
            @include desktop-l {
                font-size: $text-xl;
            }
        }
    }
}
