.introQuality {
    position: relative;
    @include laptop-l {
        font-size: $text-3xl;
    }
    @keyframes wave {
        0%, 100% {
            transform: scaleX(1) rotate(0);
        }

        50% {
            transform: scaleX(1.1) rotate(3deg);
        }
    }

    &__svg {
        animation: wave 4s ease-in-out infinite;
        position: absolute;
        width: auto;
        aspect-ratio: 5 / 1;
        fill: $tangerine-200-50;
        bottom: 0;
        z-index: -1;
    }
}
