.searchContainer {
    display: flex;
    justify-content: flex-start;
    gap: $space-2;
    padding: $space-3;
    border-radius: $radius-md;
    background-color: $tangerine-50-80;
    border: solid 1px $tangerine-100;
    color: $tangerine-600;
    font-weight: 600;
    box-shadow: $box-shadow;
    max-width: 300px;

    &__svg {
        width: 20px;
        height: 20px;
        fill: $tangerine-600;
    }

    &__search {
        background-color: $tangerine-50-80;
        width: 100%;

        @include tablet {
            width: auto;
        }

        &:hover, &:focus-visible {
            color: $tangerine-500;

            .icon {
                fill: $tangerine-500;
                rotate: 45deg;
            }
        }
    }
}
