.shopCard {
    display: flex;
    flex-direction: column;
    gap: $space-4;

    &__priceContainer {
        display: flex;
        align-items: center;
        gap: $space-1;

        &__price {
            display: flex;
            flex-direction: column;
            @include laptop-l {
                font-size: $text-xl;
            }
            @include desktop-l {
                font-size: $text-2xl;
            }

            &--card {
                font-size: $text-lg;
            }

            &__span {
                font-size: $text-xsm;
                color: $tangerine-600;
            }
        }

        &__selectContainer {
            background-color: $tangerine-100;
            padding: $space-1 $space-3;
            border-radius: $radius-sm;
            display: flex;
            margin-left: auto;
            align-items: center;
            z-index: 5;
            transition: background-color ease-in 0.2s, margin-right 0.3s ease;

            &__svg {
                width: 15px;
                height: 15px;
                transition: transform ease-in 0.3s, fill ease-in 0.3s;

                &:hover {
                    transform: scale(1.2);
                    fill: $tangerine-600;
                    cursor: pointer;
                }
            }

            &__max {
                font-size: $text-xsm;
                font-weight: 500;
            }

            &__value {
                width: 40px;
                border: none;
                text-align: center;
                font-size: $text-lg;
                font-weight: 500;
                color: black;
                background: transparent;
                outline: none;
                -moz-appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                @include laptop-l {
                    font-size: $text-xl;
                }
                @include desktop-l {
                    font-size: $text-2xl;
                }
            }

            &--card {
                background-color: $tangerine-200-50;

                .shopCard__selectContainer__value {
                    font-size: $text-base;

                }
            }
        }

        &__svgContainer {
            display: flex;
            padding: $space-2;
            margin: -$space-2;
            overflow: hidden;
            max-width: 0;
            opacity: 0;
            transition: opacity ease-in 0.3s, max-width ease-in 0.3s;

            &--active {
                max-width: 50px;
                opacity: 1;
                transition: opacity ease-in 0.3s, max-width ease-in 0.3s;
            }

            &__svg {
                width: 29px;
                height: 29px;
                padding: $space-1;
                transition: transform ease-in 0.3s, fill ease-in 0.3s;

                &:hover {
                    transform: scale(1.2);
                    fill: $tangerine-600;
                    cursor: pointer;

                }
            }
        }
    }

    &__buttonContainer {
        &__button {
            display: flex;
            gap: $space-2;

            &__svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__modalContainer {
        &__modal {
            display: flex;
            position: relative;
            flex-direction: column;
            gap: $space-4;
            background-color: $tangerine-100;
            padding: $space-12;

            &__svg {
                position: absolute;
                top: 15px;
                right: 15px;
                width: 20px;
                height: 20px;
                rotate: 45deg;
                fill: $tangerine-600;

                &:hover {
                    fill: $tangerine-500;
                }
            }

            &__titleContainer {
                display: flex;
                gap: $space-2;

                &__title {
                    font-size: $text-xl;
                }

                &__svg {
                    width: 25px;
                    height: 25px;
                    fill: $error;
                }
            }

            .button {
                background-color: $tangerine-300;
                color: $tangerine-50;

                .icon {
                    fill: $tangerine-50;
                }
            }

            &__buttonContainer {
                display: flex;
                justify-content: space-between;
                gap: $space-2;

                &__button {
                    flex-grow: 1;

                    &__svg {

                    }
                }
            }
        }
    }
}
