.paddingMedia {
    padding: 0 16px;
    @include laptop {
        padding: 0 32px;
    }
    @include laptop-l {
        padding: 0 48px;
    }
    @include desktop {
        padding: 0 64px;
    }
    @include desktop-l {
        padding: 0 80px;
    }
    @include wide {
        padding: 0 120px;
    }
}
