.shopCard {
    display: flex;
    flex-direction: column;
    gap: $space-4;

    &__priceContainer {
        display: flex;
        align-items: center;
        gap: $space-1;

        &__price {

            @include laptop-l {
                font-size: $text-xl;
            }
            @include desktop-l {
                font-size: $text-2xl;
            }

            &--card {
                font-size: $text-base;
            }
        }

        &__selectContainer {
            background-color: $tangerine-100;
            padding: $space-1;
            border-radius: $radius-sm;
            display: flex;
            margin-left: auto;
            align-items: center;
            z-index: 5;
            transition: background-color ease-in 0.2s;
            gap: $space-4;


            &__svg {
                width: 15px;
                height: 15px;
                transition: transform ease-in 0.3s, fill ease-in 0.3s;

                &:hover {
                    transform: scale(1.2);
                    fill: $tangerine-600;
                }

                @include laptop-l {
                    width: 20px;
                    height: 20px;
                }
            }

            &__max {
                font-size: $text-xsm;
                font-weight: 500;
            }

            &__value {
                width: 40px;
                border: none;
                text-align: center;
                font-size: $text-lg;
                font-weight: 500;
                color: black;
                background: transparent;
                outline: none;
                -moz-appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                @include laptop-l {
                    font-size: $text-xl;
                }
                @include desktop-l {
                    font-size: $text-2xl;
                }
            }

            &--card {
                background-color: $tangerine-200-50;
                gap: $space-2;

                .shopCard__selectContainer__value {
                    font-size: $text-base;

                }
            }
        }

        &__svg {
            width: 20px;
            height: 20px;
            transition: transform ease-in 0.3s, fill ease-in 0.3s;

            &:hover {
                transform: scale(1.2);
                fill: $tangerine-600;
            }
        }
    }

    &__buttonContainer {
        &__button {
            display: flex;
            gap: $space-2;

            &__svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}
