.catalogue {
    display: flex;
    flex-direction: column;
    gap: $space-20;
    @include laptop-l {
        gap: $space-40;
    }

    &__productSection {
        display: flex;
        flex-direction: column;
        gap: $space-12;
        @include wide {
            max-width: 1700px;
            margin: auto;
        }

        &__title {
            @include laptop-l {
                font-size: $text-3xl;
            }
            @include desktop-l {
                font-size: $text-4xl;
            }
        }

        &__filterContainer {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: $space-4;

            @include laptop-l {
                flex-direction: row;
            }

            &__buttonContainer {
                display: flex;
                gap: $space-4;
            }

            &__otherFilterContainer {
                display: flex;
                flex-wrap: wrap;
                gap: $space-4;
                @include laptop {
                    flex-wrap: nowrap;
                }
            }
        }

        &__productContainer {

            &__product {
                display: flex;
                flex-wrap: wrap;
                gap: $space-6;
                justify-content: center;
                @include desktop {
                    justify-content: space-between;

                }
                &__link {

                }

                &__empty {
                    font-size: $text-xl;
                    font-weight: 600;
                }
            }

            &__paginate {
                margin-top: $space-12;
            }
        }
    }

    &__contactSection {
        display: flex;
        flex-direction: column;
        gap: $space-12;
        @include wide {
            min-width: 1700px;
            margin: auto;
        }

        &__title {
            @include laptop-l {
                font-size: $text-3xl;
            }
            @include desktop-l {
                font-size: $text-4xl;
            }
        }

        &__blockContainer {
            display: flex;
            flex-direction: column;
            background-color: $tangerine-100;
            border-radius: $radius-lg;
            padding: $space-8;
            gap: $space-8;
            @include laptop {
                flex-direction: row;
            }

            &__informationContainer {
                background-color: $tangerine-200;
                border-radius: $radius-lg;
                max-width: 200px;
                padding: $space-4;
                display: flex;
                flex-direction: column;
                gap: $space-4;
                @include laptop {
                    max-width: 300px;
                }
                @include laptop-l {
                    max-width: 400px;
                }

                &__title {
                    font-weight: 600;
                    @include laptop-l {
                        font-size: $text-2xl;
                    }
                    @include desktop-l {
                        font-size: $text-3xl;
                    }
                }

                &__content {

                }
            }

            &__formContainer {
                flex-grow: 1;

                &__form {
                    display: flex;
                    flex-direction: column;
                    gap: $space-4;

                    &__container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: $space-4;
                        @include tablet {
                            flex-direction: row;
                        }

                        &__inputContainer {
                            width: 100%;
                            @include tablet {
                                width: 50%;
                            }

                            &__input {
                                &__error {

                                }
                            }
                        }
                    }

                    &__button {
                        background-color: $tangerine-200;
                        &__svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }

    &__cart {
        position: fixed;
        bottom: 30px;
        right: 30px;
        background-color: $tangerine-100;
        border-radius: 50%;
        z-index: 6;
        transition: transform ease-in 0.3s, background-color ease-in 0.3s;
        padding: $space-4;

        &:hover, &:focus-visible {
            transform: scale(1.1);
            background-color: $tangerine-200-50;
        }

        &__link {
            display: flex;

            &__svg {
                fill: $tangerine-600;
                width: 30px;
                height: 30px;
            }
        }
    }
}
