.catalogue {
    display: flex;
    flex-direction: column;
    gap: $space-32;
    @include laptop-l {
        gap: $space-48;
    }

    &__productSection {
        display: flex;
        flex-direction: column;
        gap: $space-12;
        @include wide {
            min-width: 1700px;
            margin: auto;
        }

        &__title {
            @include laptop-l {
                font-size: $text-3xl;
            }
            @include desktop-l {
                font-size: $text-4xl;
            }
        }

        &__filterContainer {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: $space-4;

            @include laptop-l {
                flex-direction: row;
            }

            &__buttonContainer {
                display: flex;
                gap: $space-4;

                &__button {
                    display: flex;
                    gap: $space-4;

                    &__svg {
                        rotate: -90deg;
                        width: 20px;
                        height: 20px;

                        &--desc {
                            rotate: 90deg;

                        }
                    }
                }
            }

            &__otherFilterContainer {
                display: flex;
                flex-wrap: wrap;
                gap: $space-4;
                @include laptop {
                    flex-wrap: nowrap;
                }

                &__wrapper {
                    position: relative;

                    &__button {

                    }

                    &__itemContainer {
                        padding: $space-4;
                        position: absolute;
                        background-color: $tangerine-100;
                        z-index: 6;
                        top: $space-16;
                        right: -$space-16;
                        border-radius: $radius-md;
                        display: grid;
                        gap: $space-4;
                        box-shadow: $box-shadow;

                        @include laptop-l {
                            grid-template-columns: repeat(2, 1fr);
                        }

                        &__searchContainer {
                            grid-column: span 2 / span 2;

                            &__search {
                                background-color: $tangerine-50;
                                padding: $space-2;
                                border-radius: $radius-md;
                                box-shadow: $box-shadow;
                                font-size: $text-sm;
                            }
                        }

                        &__item {
                            width: max-content;
                            display: flex;
                            gap: $space-2;

                            &__label {
                            }

                            &__input {
                                accent-color: $tangerine-400;
                            }
                        }
                    }
                }

                &__searchContainer {
                    display: flex;
                    justify-content: center;
                    gap: $space-2;
                    padding: $space-3;
                    border-radius: $radius-md;
                    background-color: $tangerine-50-80;
                    border: solid 1px $tangerine-100;
                    color: $tangerine-600;
                    font-weight: 600;
                    box-shadow: $box-shadow;

                    &__svg {
                        width: 20px;
                        height: 20px;
                        fill: $tangerine-600;
                    }

                    &__search {
                        background-color: $tangerine-50-80;
                        width: 100%;

                        @include tablet {
                            width: auto;
                        }

                        &:hover {
                            color: $tangerine-500;

                            .icon {
                                fill: $tangerine-500;
                                rotate: 45deg;
                            }
                        }
                    }
                }
            }
        }

        &__productContainer {
            &__product {
                display: flex;
                flex-wrap: wrap;
                gap: $space-6;
                justify-content: center;

                &__link {

                }

                &__empty {
                    font-size: $text-xl;
                    font-weight: 600;
                }
            }

            &__paginate {

            }
        }
    }

    &__contactSection {
        display: flex;
        flex-direction: column;
        gap: $space-12;
        @include wide {
            min-width: 1700px;
            margin: auto;
        }

        &__title {
            @include laptop-l {
                font-size: $text-3xl;
            }
            @include desktop-l {
                font-size: $text-4xl;
            }
        }

        &__blockContainer {
            display: flex;
            flex-direction: column;
            background-color: $tangerine-100;
            border-radius: $radius-lg;
            padding: $space-8;
            gap: $space-8;
            @include laptop {
                flex-direction: row;
            }

            &__informationContainer {
                background-color: $tangerine-200;
                border-radius: $radius-lg;
                max-width: 200px;
                padding: $space-4;
                display: flex;
                flex-direction: column;
                gap: $space-4;
                @include laptop {
                    max-width: 300px;
                }
                @include laptop-l {
                    max-width: 400px;
                }

                &__title {
                    font-weight: 600;
                    @include laptop-l {
                        font-size: $text-2xl;
                    }
                    @include desktop-l {
                        font-size: $text-3xl;
                    }
                }

                &__content {

                }
            }

            &__formContainer {
                flex-grow: 1;

                &__form {
                    display: flex;
                    flex-direction: column;
                    gap: $space-4;

                    &__container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: $space-4;
                        @include tablet {
                            flex-direction: row;
                        }

                        &__inputContainer {
                            width: 100%;
                            @include tablet {
                                width: 50%;
                            }

                            &__input {
                                &__error {

                                }
                            }
                        }
                    }

                    .button {
                        background-color: $tangerine-200;
                    }

                    &__button {
                        &__svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}
