.button {
    padding: $space-3;
    border-radius: $radius-md;
    background-color: $tangerine-100;
    color: $tangerine-600;
    font-weight: 600;
    box-shadow: $box-shadow;
    transition: color 0.3s;

    .icon {
        fill: $tangerine-600;
        transition: fill 0.3s, rotate 0.3s;
        width: 20px;
        height: 20px;
    }

    &:hover, &:focus-visible {
        color: $tangerine-500;
        cursor: pointer;

        .icon {
            fill: $tangerine-500;
            rotate: 45deg;
        }
    }

    &--icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include laptop-l {
        font-size: $text-xl;
    }
    @include desktop {
        font-size: $text-2xl;
    }
    @include wide {
        font-size: $text-3xl;
    }

    &--tabs {
        cursor: pointer;
        @include laptop-l {
            font-size: $text-lg;
        }
        @include desktop {
            font-size: $text-xl;
        }
        @include wide {
            font-size: $text-xl;
        }

        &:hover, &:focus-visible {
            background-color: $tangerine-200-50;
        }
    }

    &--filter {
        .icon {
            &--desc {
                rotate: 90deg;
            }
        }

        &:hover, &:focus-visible {
            .icon {
                rotate: -45deg;

                &--desc {
                    rotate: 45deg;
                }
            }
        }

        @include laptop-l {
            font-size: $text-lg;
        }
        @include desktop {
            font-size: $text-lg;
        }
        @include wide {
            font-size: $text-lg;
        }
    }

    &--danger {
        background-color: $error;
        color: $tangerine-950;

        &:hover, &:focus-visible {
            color: white;
        }
    }

    &--left {
        &:hover, &:focus-visible {
            .icon {

                rotate: 135deg;
            }
        }
    }

    &--reset {
        background-color: $tangerine-200;
        color: $tangerine-950;
        font-size: $text-base;
    }
}
