.forgetPassword {
    &__title {
        font-size: $text-2xl;
        margin-bottom: $space-3;
        @include laptop-l {
            font-size: $text-3xl;
        }
        @include desktop {
            font-size: $text-5xl;
        }
        @include wide {
            font-size: $text-6xl;
        }
    }

    &__subtitle {
        margin-bottom: $space-3;
        @include laptop-l {
            font-size: $text-xl;
        }
        @include desktop {
            font-size: $text-2xl;
        }
        @include wide {
            font-size: $text-3xl;
        }
    }

    &__inputContainer {
        &__input {
            &__error {
            }
        }

        &__forgetPassword {
        }

        &__svg {

        }
    }

    &__button {
        margin-bottom: $space-3;
        @include laptop-l {
            margin-bottom: $space-5;
        }
        @include desktop {
            margin-bottom: $space-8;
        }

        &__svg {
            width: 25px;
            height: 25px;
        }
    }

    &__returnLogin {
        @include laptop-l {
            font-size: $text-xl;
        }
        @include desktop {
            font-size: $text-2xl;
        }
        @include wide {
            font-size: $text-3xl;
        }

        &__link {
            color: $tangerine-600;
            transition: color 0.3s;

            &:hover, &:focus-visible {
                color: $tangerine-400;
            }
        }
    }
}
