.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-4;
    margin-top: $space-12;
    @include laptop {
        flex-direction: row;
        justify-content: center;
        gap: $space-12;
    }
    @include desktop {
        gap: $space-32;
    }
    @include wide {
        gap: $space-48;
    }

    &__formContainer {
        &__title {
            font-size: $text-2xl;
            margin-bottom: $space-3;
            @include laptop-l {
                font-size: $text-3xl;
            }
            @include desktop {
                font-size: $text-5xl;
            }
            @include wide {
                font-size: $text-6xl;
            }
        }

        &__inputContainer {
            &__input {
                &__error {
                }
            }

            &__forgetPassword {
            }

            &__svg {

            }
        }

        &__button {
            margin-bottom: $space-3;
            @include laptop-l {
                margin-bottom: $space-5;
            }
            @include desktop {
                margin-bottom: $space-8;
            }

            &__svg {
                width: 25px;
                height: 25px;
            }
        }

        &__alreadyAccount {
            @include laptop-l {
                font-size: $text-xl;
            }
            @include desktop {
                font-size: $text-2xl;
            }
            @include wide {
                font-size: $text-3xl;
            }

            &__link {
                color: $tangerine-600;
                font-weight: 600;
                transition: color 0.3s;

                &:hover {
                    color: $tangerine-400;
                }
            }
        }
    }

    &__addInformation {
        display: flex;
        flex-direction: column;
        gap: $space-2;

        .imgContainer {
            display: none;
            @include laptop {
                display: block;
            }
        }

        &__text {
            font-size: $text-xsm;
            margin-bottom: $space-3;
            width: 215px;
            font-weight: 300;
            @include laptop{
                width: 333px;
            }
            @include laptop-l {
                width: 385px;
            }
            @include desktop {
                font-size: $text-xl;
                width: 475px;
            }
            @include wide {
                font-size: $text-2xl;
                width: 550px;
            }
        }
    }
}
