.register {

    &__title {
        font-size: $text-2xl;
        margin-bottom: $space-3;
        @include laptop-l {
            font-size: $text-3xl;
        }
        @include desktop {
            font-size: $text-5xl;
        }
        @include wide {
            font-size: $text-6xl;
        }
    }

    &__divContainer {
        display: flex;
        flex-direction: column;
        @include laptop {
            flex-direction: row;
            gap: $space-4;
        }
        & > div {
            flex: 1;
            min-width: 0;
        }
        &__inputContainer {
            flex: 1;
            min-width: 0;

            &__input {
                width: 100%;

                &__error {
                }
            }

            &__forgetPassword {
            }

            &__svg {

            }
        }
    }

    &__button {
        margin-bottom: $space-3;
        @include laptop-l {
            margin-bottom: $space-5;
        }
        @include desktop {
            margin-bottom: $space-8;
        }

        &__svg {
            width: 25px;
            height: 25px;
        }
    }

    &__alreadyAccount {
        @include laptop-l {
            font-size: $text-xl;
        }
        @include desktop {
            font-size: $text-2xl;
        }
        @include wide {
            font-size: $text-3xl;
        }

        &__link {
            color: $tangerine-600;
            font-weight: 600;
            transition: color 0.3s;

            &:hover {
                color: $tangerine-400;
            }
        }
    }
}
