.body {
    background-color: $tangerine-50-80;
    color: $tangerine-950;

    &--auth{
    margin: 16px;
        @include laptop {
            margin: 32px;
        }

    }
}

.logoContainer {
    text-align: center;

    &__logo {

    }
}
